.border{
  width:1430px;
  height:580px;
  border-style: solid;
  border-color: rgb(7, 32, 225);
  justify-content: space-evenly;
}
h2{
  text-align: center;
  color: rgb(7, 32, 225); ;
}
.face{
 width:200px;
 height:150px;
 background-color: rgb(7, 32, 225);;
 margin:auto;
 margin-top: 2%;
 border-top-left-radius: 999px;
 border-top-right-radius: 999px;
 transition: width,transform 1s linear;
  
}
.border:hover .face{
  animation:movehead 2s infinite;
  transform: rotate(90deg);
  transform-origin: top;
}
@keyframes movehead
{
 
  0%{transform: rotate(0deg);}
  50%{transform: rotate(360deg);}
  100%{transform: rotate(0deg);}
}



.eyes{
  display:flex;
  justify-content: space-evenly;
  position:absolute;
  width:200px;
  margin-top: 6%;

}
.leye
{
  width:50px;
  height:50px;
  background-color: black;
  border-radius: 50%;

}
.border:hover .leye{
  animation:moveleye 1s infinite;
}
@keyframes moveleye
{
  0%{width:60px;}
  50%{width:60px;}
  100%{width:60px;}
}

.reye{
  width:50px;
  height:50px;
  background-color: black;
  border-radius: 50%;
}
.border:hover .reye{
  animation:movereye 1s infinite;
}
@keyframes movereye
{
  0%{width:60px;}
  50%{width:60px;}
  100%{width:60px;}
}
.body{
  width:200px;
  height:200px;
  background-color: rgb(7, 32, 225);;
  margin:auto;
  margin-top: 1%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  transition:transform 3s ease;
}
.border:hover .body
{
  transform: rotate(360deg);
  transform-origin: top;
  animation: movebody 1s infinite;
}
@keyframes movebody
{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(180deg);}
  100%{transform: rotate(360deg);}
}

.lhand{
  width:30px;
  height:120px;
  background-color: blue;
 border-radius: 20%;
  
  margin-top: -12%;
  margin-left: 40%;
  transition:transform 1s ease;

}
.border:hover .lhand
{
  transform: rotate(90deg);
  transform-origin: top;
  animation: movelhand 1s infinite;
}
@keyframes movelhand
{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}


.rhand{
      width:30px;
  height:120px;
  background-color: blue;
 border-radius: 20%;
  
  margin-top :-120px;
  margin-left: 58%;
}
.border:hover .rhand
{
  transform: rotate(-90deg);
  transform-origin: top;
  animation: moverhand 1s infinite;
}
@keyframes moverhand
{
  0%{transform: rotate(-0deg);}
  50%{transform: rotate(-90deg);}
  100%{transform: rotate(-0deg);}
}



.leg1{
  width:30px;
  height:120px;
  background-color:  rgb(7, 32, 225);;
 border-radius: 25px;
 margin-top: px;
  margin-left: 650px;
  transition:transform 1s ease;
  
}
.border:hover .leg1
{
  transform: rotate(180deg);
  transform-origin: top;
  animation: moveleg1 1s infinite;
}
@keyframes moveleg1
{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}
.leg2{
  width:30px;
  height:120px;
  background-color:  rgb(7, 32, 225);
 border-radius: 25px;
 margin-left:52%;
  margin-top: -120px;
  transition:transform 1s ease;
}
.border:hover .leg2
{
  transform: rotate(180deg);
  transform-origin: top;
  animation: moveleg2 1s infinite;
}
@keyframes moveleg2
{
  0%{transform: rotate(0deg);}
  50%{transform: rotate(-90deg);}
  100%{transform: rotate(0deg);}
}

.ineye{
  display:flex;
  justify-content: space-evenly;
  position:absolute;
  width:200px;
  margin-top: 7.5%;
  
}
.inleye
{
  width:22px;
  height:22px;
  background-color: black;
  border-radius: 100%;
}.inreye
{
  width:22px;
  height:22px;
  background-color: black;
  border-radius: 100%;
}
    